.border-triangle {
  border-bottom: 60px solid red;
  border-top: 60px solid transparent;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  width: 0;
  height: 0;
  margin: 20rem;
}
